<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  
    <title>Inicio</title>
    <%- include("partials/head.html") %>

</head>
<body>
    <%- include("partials/navigation.html") %>
    <div>
        <header class="container-fluid">
            <div style="text-align:center">
                <img src="/img/astronauta.png" id="astronautaFoto" class="animate__animated animate__bounceIn">
            </div>
        </header>
    </div>
</body>
</html>